#main {
  background-color: #535fe6;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  flex-direction: column;
}
#main form {
  height: 450px;
  width: 450px;
  background-color: #1c1e21;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
  padding: 0px 10px 0px 10px;
}


@media screen and (max-width: 500px) {
    #main form {
    height: 50vh;
    width: 95vw;
    background-color: #1c1e21;
  }
}
